.container{
    text-align: center;
}
.accordion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#head{
    font-size: 30px;
    color: tomato;
    text-align: center;
    position: relative;
    top: 20px;
}
.heading{
    color: black;
    font-size: 20px;
    margin: 0;
}
.quesNum{
    border: 1px solid black;
    margin: 10px 40px;
    padding: 10px 5px;
    position: relative;
}

.questionText, .answerText{
    color: black;
    text-align: left;
    font-size: 18px;
}

.questionText{
    position: relative;
    margin: 0;
}

span{
    position: absolute;
    right: 20px;
}

.answerText{
    font-weight: 100;
    margin: 0;
}
.myButton{
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.back{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    left: 20px;
}
